{% extends 'dashboard/layout.html.twig' %}

{% block title %}{{ parent() }} | Adhérents{% endblock %}

{% block header %}
    {{ parent() }}
{% endblock %} 

{% block content_title %}
    {% set section_title = 'Liste des adhérents' %}
    {{ section_title }}
{% endblock %}


{% block page_content %}
    <table class="table">
        <thead>
            <tr>
                <th scope="col">NOM Prénom</th>
                <th scope="col">Email</th>
                <th scope="col">Compétences</th>
                <th scope="col">Groupe de travail</th>
                <th scope="col"></th>
            </tr>
        </thead>
        <tbody>
        {% for user in users %}
            <tr class="table-row-cliquable">
                <td>{{ user.lastName|upper  ~ " " ~  user.firstName|capitalize }}</td>
                <td>{{ user.email }}</td>
                <td> 
                    {% for userSkill in user.userSkills|sort((a, b) => a.skill.label <=> b.skill.label) %}
                        {{ userSkill.skill.label }}{% if not loop|last %},{% endif %}      
                    {% else %}
                        <span class="text-muted">Aucune</span>   
                    {% endfor %}
                </td>
                <td>
                    {% for team in user.teams|sort((a, b) => a <=> b) %}
                        {{ team }}{% if not loop|last %},{% endif %}
                    {% else %}
                        <span class="text-muted">Aucun</span>
                    {% endfor %}
                </td>
                <td class="table-cell-action">
                    <a href="{{ path('user_edit', {'id': user.id}) }}" title="Afficher la fiche de l'adhérent">Voir plus</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="5">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
{% endblock %}
